.card {
  display: flex;
  flex-direction: column;
  border: 4px outset rgba(0, 0, 0, 0.75);
  gap: 0.2rem;
  align-items: center;
  border-radius: 2rem;
  padding: 0.2rem;
  background: rgba(255, 0, 0, 0);
  background: radial-gradient(
    circle farthest-corner at center center,
    rgba(255, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 80%
  );

  background: -webkit-radial-gradient(
    circle farthest-corner at center center,
    rgba(255, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 80%
  );
  background: -moz-radial-gradient(
    circle farthest-corner at center center,
    rgba(255, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 80%
  );

  color: black;
  box-shadow: 12px 10px 29px -7px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 12px 10px 29px -7px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 12px 10px 29px -7px rgba(0, 0, 0, 0.65);

  justify-content: space-between;

  .card-header {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    gap: 1rem;
    justify-content: space-between;
    color: black;
    text-decoration: none;
    padding-inline: 1rem;
    h2 {
      align-items: center;
      text-align: center;
      color: black;
      text-decoration: none;
      font-size: 1.5rem;
    }
    img {
      height: 2rem;
      width: 2rem;
    }
  }

  .card-image {
    padding-bottom: 1rem;
    text-align: center;
    img {
      height: 8rem;
    }
  }

  .card-info {
    padding-inline: 1rem;
    padding-block: 1rem;
    p {
      margin-top: 0;
      margin-bottom: 0;
      color: black;
      text-decoration: none;
      .country_card_info {
        font-weight: bold;
        color: black;
        text-decoration: none;
        font-size: 1.2rem;
      }
    }
  }
}
