.country_list {
  display: grid;
  gap: 1rem;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1020px) {
  .country_list {
    display: grid;
    gap: 1rem;
    list-style-type: none;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .country_list {
    display: grid;
    gap: 1rem;
    list-style-type: none;
    grid-template-columns: repeat(1, 1fr);
  }
}
